In [1]:
from model import data_store,db_manager
import pandas as pd
import urllib2
from requests.utils import quote
import json
from collections import namedtuple
import pprint
import difflib
import numpy as np
import datetime
from helper.data_helper import reindex_weather_intraday, match_coordinates

In [2]:
db_params = {'db_user': 'dwe-closed', 'db_name': 'DWE_CLOSED_2013',
                 'db_port': '5432', 'db_pwd': '6EVAqWxOsX2Ao', 'db_url': 'localhost'}

# db_params = {'db_user': 'dwe-arcadia', 'db_name': 'DWE_ARCADIA_2015',
#                  'db_port': '5432', 'db_pwd': 'VtJ5Cw3PKuOi4i3b',
#                  'db_url': 'localhost'}


db =  db_manager.DB_manager(db_params=db_params)

2016-11-09 05:47:25,012 [INFO ]  engine createdEngine(postgresql://dwe-closed:***@localhost:5432/DWE_CLOSED_2013)

In [21]:
holi = pd.read_csv("data/test_holidays.csv",parse_dates=['day'])
training = pd.read_csv("data/training.csv",parse_dates=['date'])
print holi.info()
print training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 9 columns):
Unnamed: 0      423 non-null int64
Unnamed: 0.1    423 non-null int64
id              423 non-null int64
idbldsite       423 non-null int64
day             423 non-null datetime64[ns]
name_en         423 non-null object
name_de         423 non-null object
name_fr         423 non-null object
name_ru         423 non-null object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 29.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141113 entries, 0 to 141112
Data columns (total 10 columns):
Unnamed: 0          141113 non-null int64
idbldsite           141113 non-null int64
latitude            141113 non-null float64
longitude           141113 non-null float64
compensatedin       141113 non-null int64
date                141113 non-null datetime64[ns]
date_time           141113 non-null object
temperature         141113 non-null float64
cloudamount         129008 non-null float64
weathersituation    60399 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 10.8+ MB
None

In [22]:
merged = pd.merge(training,holi,left_on='date',right_on='day')
merged

,Unnamed: 0_x,idbldsite_x,latitude,longitude,compensatedin,date,date_time,temperature,cloudamount,weathersituation,Unnamed: 0_y,Unnamed: 0.1,id,idbldsite_y,day,name_en,name_de,name_fr,name_ru
0,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,112,112,707,12,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
1,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,126,126,298,6,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
2,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,127,127,299,5,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
3,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,135,135,307,3,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
4,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,175,175,347,7,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
5,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,194,194,366,4,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
6,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,208,208,380,11,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
7,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,230,230,402,10,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
8,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,255,255,427,1,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
9,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,278,278,450,8,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
10,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,340,340,512,2,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
11,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,382,382,554,9,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
12,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,112,112,707,12,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
13,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,126,126,298,6,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
14,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,127,127,299,5,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
15,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,135,135,307,3,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
16,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,175,175,347,7,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
17,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,194,194,366,4,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
18,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,208,208,380,11,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
19,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,230,230,402,10,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
20,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,255,255,427,1,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
21,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,278,278,450,8,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
22,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,340,340,512,2,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
23,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,382,382,554,9,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
24,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,112,112,707,12,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
25,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,126,126,298,6,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
26,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,127,127,299,5,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
27,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,135,135,307,3,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
28,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,175,175,347,7,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
29,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,194,194,366,4,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37290,205015,11,50.110922,8.682127,0,2016-03-28,2016-03-28 21:00:00,8.9,8.0,21.0,304,304,476,2,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37291,205015,11,50.110922,8.682127,0,2016-03-28,2016-03-28 21:00:00,8.9,8.0,21.0,314,314,486,1,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37292,205015,11,50.110922,8.682127,0,2016-03-28,2016-03-28 21:00:00,8.9,8.0,21.0,350,350,522,6,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37293,205015,11,50.110922,8.682127,0,2016-03-28,2016-03-28 21:00:00,8.9,8.0,21.0,359,359,531,5,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37294,205015,11,50.110922,8.682127,0,2016-03-28,2016-03-28 21:00:00,8.9,8.0,21.0,376,376,548,4,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37295,205015,11,50.110922,8.682127,0,2016-03-28,2016-03-28 21:00:00,8.9,8.0,21.0,395,395,567,10,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37296,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,101,101,696,12,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37297,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,161,161,333,8,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37298,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,165,165,337,9,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37299,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,201,201,373,3,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37300,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,217,217,389,11,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37301,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,225,225,397,7,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37302,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,304,304,476,2,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37303,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,314,314,486,1,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37304,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,350,350,522,6,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37305,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,359,359,531,5,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37306,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,376,376,548,4,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37307,205016,11,50.110922,8.682127,0,2016-03-28,2016-03-28 22:00:00,8.9,8.0,21.0,395,395,567,10,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37308,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,101,101,696,12,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37309,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,161,161,333,8,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37310,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,165,165,337,9,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37311,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,201,201,373,3,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37312,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,217,217,389,11,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37313,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,225,225,397,7,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37314,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,304,304,476,2,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37315,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,314,314,486,1,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37316,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,350,350,522,6,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37317,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,359,359,531,5,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37318,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,376,376,548,4,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday
37319,205017,11,50.110922,8.682127,0,2016-03-28,2016-03-28 23:00:00,8.3,8.0,21.0,395,395,567,10,2016-03-28,Easter Monday,Ostermontag,Le lundi de Pâques,Easter Monday

In [35]:
df = pd.read_csv('data/test_merge_public_holidays_hour.csv')
df[df.is_public_holiday==1]

,Unnamed: 0,idbldsite,latitude,longitude,compensatedin,date,date_time,temperature,cloudamount,weathersituation,is_public_holiday
36,36,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 00:00:00,8.9,8.0,61.0,1
37,37,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 01:00:00,8.9,8.0,61.0,1
38,38,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 02:00:00,7.8,8.0,21.0,1
39,39,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 03:00:00,7.8,8.0,21.0,1
40,40,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 04:00:00,7.0,8.0,21.0,1
41,41,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 05:00:00,7.0,8.0,21.0,1
42,42,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 06:00:00,6.3,8.0,21.0,1
43,43,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 07:00:00,6.3,8.0,21.0,1
44,44,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 08:00:00,6.5,7.0,10.0,1
45,45,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 09:00:00,6.5,7.0,10.0,1
46,46,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 10:00:00,9.0,7.0,10.0,1
47,47,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 11:00:00,9.0,7.0,10.0,1
48,48,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 12:00:00,12.2,7.0,NaN,1
49,49,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 13:00:00,12.2,7.0,NaN,1
50,50,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 14:00:00,14.5,6.0,NaN,1
51,51,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 15:00:00,14.5,6.0,NaN,1
52,52,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 16:00:00,15.6,8.0,61.0,1
53,53,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 17:00:00,15.6,8.0,61.0,1
54,54,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 18:00:00,15.1,8.0,21.0,1
55,55,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 19:00:00,15.1,8.0,21.0,1
56,56,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 20:00:00,14.3,8.0,21.0,1
57,57,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 21:00:00,14.3,8.0,21.0,1
58,58,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 22:00:00,13.7,8.0,21.0,1
59,59,12,48.776630,9.176330,0,2016-05-01 00:00:00,2016-05-01 23:00:00,13.7,8.0,21.0,1
132,132,12,48.776630,9.176330,0,2016-05-05 00:00:00,2016-05-05 00:00:00,8.4,0.0,NaN,1
133,133,12,48.776630,9.176330,0,2016-05-05 00:00:00,2016-05-05 01:00:00,8.4,0.0,NaN,1
134,134,12,48.776630,9.176330,0,2016-05-05 00:00:00,2016-05-05 02:00:00,7.2,0.0,NaN,1
135,135,12,48.776630,9.176330,0,2016-05-05 00:00:00,2016-05-05 03:00:00,7.2,0.0,NaN,1
136,136,12,48.776630,9.176330,0,2016-05-05 00:00:00,2016-05-05 04:00:00,6.3,0.0,NaN,1
137,137,12,48.776630,9.176330,0,2016-05-05 00:00:00,2016-05-05 05:00:00,6.3,0.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
137378,137378,11,50.110922,8.682127,0,2016-05-16 00:00:00,2016-05-16 18:00:00,13.7,8.0,21.0,1
137379,137379,11,50.110922,8.682127,0,2016-05-16 00:00:00,2016-05-16 19:00:00,13.7,8.0,21.0,1
137380,137380,11,50.110922,8.682127,0,2016-05-16 00:00:00,2016-05-16 20:00:00,12.2,8.0,NaN,1
137381,137381,11,50.110922,8.682127,0,2016-05-16 00:00:00,2016-05-16 21:00:00,12.2,8.0,NaN,1
137382,137382,11,50.110922,8.682127,0,2016-05-16 00:00:00,2016-05-16 22:00:00,10.4,7.0,NaN,1
137383,137383,11,50.110922,8.682127,0,2016-05-16 00:00:00,2016-05-16 23:00:00,10.4,7.0,NaN,1
140720,140720,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 00:00:00,12.7,7.0,21.0,1
140721,140721,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 01:00:00,12.7,7.0,21.0,1
140722,140722,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 02:00:00,12.7,7.0,21.0,1
140723,140723,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 03:00:00,12.7,7.0,21.0,1
140724,140724,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 04:00:00,12.7,7.0,21.0,1
140725,140725,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 05:00:00,12.7,7.0,21.0,1
140726,140726,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 06:00:00,12.7,7.0,21.0,1
140727,140727,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 07:00:00,11.4,8.0,21.0,1
140728,140728,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 08:00:00,11.4,8.0,21.0,1
140729,140729,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 09:00:00,11.4,8.0,21.0,1
140730,140730,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 10:00:00,11.4,8.0,21.0,1
140731,140731,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 11:00:00,11.6,8.0,61.0,1
140732,140732,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 12:00:00,11.6,8.0,61.0,1
140733,140733,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 13:00:00,11.6,8.0,61.0,1
140734,140734,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 14:00:00,14.0,8.0,21.0,1
140735,140735,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 15:00:00,14.0,8.0,21.0,1
140736,140736,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 16:00:00,14.0,8.0,21.0,1
140737,140737,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 17:00:00,14.0,8.0,21.0,1
140738,140738,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 18:00:00,14.0,8.0,21.0,1
140739,140739,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 19:00:00,10.8,8.0,95.0,1
140740,140740,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 20:00:00,10.8,8.0,95.0,1
140741,140741,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 21:00:00,10.8,8.0,95.0,1
140742,140742,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 22:00:00,10.8,8.0,95.0,1
140743,140743,11,50.110922,8.682127,0,2016-10-03 00:00:00,2016-10-03 23:00:00,10.8,8.0,95.0,1

In [3]:
df_weather_hour = db.weather_intraday

df_weather_day = db.weather_day

df_sites = db.sites

df_weather_hour = pd.merge(df_weather_hour,
                               df_weather_day[['id', 'latitude', 'longitude']],
                               left_on='idparent',
                               right_on='id')

df_weather_hour[['timestamp', 'temperature',
                     'cloudamount', 'weathersituation',
                     'latitude', 'longitude']]

df_weather_hour = reindex_weather_intraday(df_weather_hour)
df_weather_hour['hour']= df_weather_hour['timestamp'].dt.hour
df_weather_hour['date_']= df_weather_hour['timestamp'].dt.date
df_weather_hour.head()

,timestamp,id_x,idparent,utctimestamp,temperature,cloudamount,weathersituation,id_y,latitude,longitude,coord,hour,date_
0,2015-05-08 18:00:00,81.0,1.0,1.431101e+12,21.000000,2.0,1.0,1.0,48.142,11.576,48.142;11.576,18,2015-05-08
1,2015-05-08 19:00:00,81.0,1.0,1.431101e+12,21.000000,2.0,1.0,1.0,48.142,11.576,48.142;11.576,19,2015-05-08
2,2015-05-08 20:00:00,82.0,1.0,1.431108e+12,19.400000,NaN,3.0,1.0,48.142,11.576,48.142;11.576,20,2015-05-08
3,2015-05-08 21:00:00,82.0,1.0,1.431108e+12,19.400000,NaN,3.0,1.0,48.142,11.576,48.142;11.576,21,2015-05-08
4,2015-05-08 22:00:00,83.0,1.0,1.431115e+12,17.799999,NaN,4.0,1.0,48.142,11.576,48.142;11.576,22,2015-05-08

In [4]:
df_weather_coord = df_weather_hour[['latitude', 'longitude']].drop_duplicates()
df_weather_coord

        latitude  longitude
0         48.142     11.576
12711        NaN        NaN
21273     48.776      9.176
28275     49.452     11.074
38134     50.081      8.244
50845     50.110      8.682
63555     51.224      6.774
76266     52.276      8.042
88978     52.505     13.335
101688    53.550      9.995
114400    53.654     10.091

In [5]:
df_weather_coord_matched = match_coordinates(df_weather_coord,df_sites)

2016-11-09 05:47:35,194 [WARNI]  ("'DataFrame' object has no attribute 'idbldsite'",)

In [8]:
df_weather_coord_matched_with_sites = pd.merge(df_weather_coord_matched,df_sites, left_on=['latitude_closest','longitude_closest'], right_on=['latitude','longitude'])

In [11]:
df_weather_coord_matched_with_sites[['idbldsite','latitude_x','longitude_x']]

    idbldsite  latitude_x  longitude_x
0           3      48.142       11.576
1           4      48.142       11.576
2          12         NaN          NaN
3          12      48.776        9.176
4          10      49.452       11.074
5           7      50.081        8.244
6          11      50.110        8.682
7           5      51.224        6.774
8           6      51.224        6.774
9           9      52.276        8.042
10          8      52.505       13.335
11          1      53.550        9.995
12          2      53.654       10.091

In [ ]:
training = pd.read_csv('data/test_training_data.csv',parse_dates=['date_time'])
training['hour']= training['date_time'].dt.hour
training['date']= training['date_time'].dt.date

In [ ]:
training.head()

In [12]:
merged = pd.merge(training,df_weather_hour,left_on=['date_time', 'hour'], right_on=['timestamp','hour'], suffixes=['_sites', '_weather'])
merged

NameError: name 'training' is not defined

In [42]:
merged = pd.read_csv('data/test_merge_hour.csv',parse_dates=['date'])
public_holidays = pd.read_csv('test/data/public_holidays_sample3.csv',sep=';',parse_dates=['day'])
print merged.info()
print public_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141113 entries, 0 to 141112
Data columns (total 10 columns):
Unnamed: 0          141113 non-null int64
idbldsite           141113 non-null int64
latitude            141113 non-null float64
longitude           141113 non-null float64
compensatedin       141113 non-null int64
date                141113 non-null datetime64[ns]
date_time           141113 non-null object
temperature         141113 non-null float64
cloudamount         129008 non-null float64
weathersituation    60399 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 10.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 8 columns):
Unnamed: 0    423 non-null int64
id            423 non-null int64
idbldsite     423 non-null int64
day           423 non-null datetime64[ns]
name_en       423 non-null object
name_de       423 non-null object
name_fr       423 non-null object
name_ru       423 non-null object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 26.5+ KB
None

In [44]:
result = pd.merge(merged,public_holidays, left_on=['date','idbldsite'],right_on=['day','idbldsite'])
result

,Unnamed: 0_x,idbldsite,latitude,longitude,compensatedin,date,date_time,temperature,cloudamount,weathersituation,Unnamed: 0_y,id,day,name_en,name_de,name_fr,name_ru
0,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
1,60,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
2,61,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
3,62,12,48.776630,9.176330,0,2016-05-01,2016-05-01 03:00:00,7.8,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
4,63,12,48.776630,9.176330,0,2016-05-01,2016-05-01 04:00:00,7.0,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
5,64,12,48.776630,9.176330,0,2016-05-01,2016-05-01 05:00:00,7.0,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
6,65,12,48.776630,9.176330,0,2016-05-01,2016-05-01 06:00:00,6.3,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
7,66,12,48.776630,9.176330,0,2016-05-01,2016-05-01 07:00:00,6.3,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
8,67,12,48.776630,9.176330,0,2016-05-01,2016-05-01 08:00:00,6.5,7.0,10.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
9,68,12,48.776630,9.176330,0,2016-05-01,2016-05-01 09:00:00,6.5,7.0,10.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
10,69,12,48.776630,9.176330,0,2016-05-01,2016-05-01 10:00:00,9.0,7.0,10.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
11,70,12,48.776630,9.176330,0,2016-05-01,2016-05-01 11:00:00,9.0,7.0,10.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
12,71,12,48.776630,9.176330,0,2016-05-01,2016-05-01 12:00:00,12.2,7.0,NaN,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
13,72,12,48.776630,9.176330,0,2016-05-01,2016-05-01 13:00:00,12.2,7.0,NaN,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
14,73,12,48.776630,9.176330,0,2016-05-01,2016-05-01 14:00:00,14.5,6.0,NaN,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
15,74,12,48.776630,9.176330,0,2016-05-01,2016-05-01 15:00:00,14.5,6.0,NaN,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
16,75,12,48.776630,9.176330,0,2016-05-01,2016-05-01 16:00:00,15.6,8.0,61.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
17,76,12,48.776630,9.176330,0,2016-05-01,2016-05-01 17:00:00,15.6,8.0,61.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
18,77,12,48.776630,9.176330,0,2016-05-01,2016-05-01 18:00:00,15.1,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
19,78,12,48.776630,9.176330,0,2016-05-01,2016-05-01 19:00:00,15.1,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
20,79,12,48.776630,9.176330,0,2016-05-01,2016-05-01 20:00:00,14.3,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
21,80,12,48.776630,9.176330,0,2016-05-01,2016-05-01 21:00:00,14.3,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
22,81,12,48.776630,9.176330,0,2016-05-01,2016-05-01 22:00:00,13.7,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
23,82,12,48.776630,9.176330,0,2016-05-01,2016-05-01 23:00:00,13.7,8.0,21.0,112,707,2016-05-01,May Day,Tag der Arbeit,La fête du Travail,May Day
24,155,12,48.776630,9.176330,0,2016-05-05,2016-05-05 00:00:00,8.4,0.0,NaN,104,699,2016-05-05,Ascension Day,Christi Himmelfahrt,L'Ascension,Ascension Day
25,156,12,48.776630,9.176330,0,2016-05-05,2016-05-05 01:00:00,8.4,0.0,NaN,104,699,2016-05-05,Ascension Day,Christi Himmelfahrt,L'Ascension,Ascension Day
26,157,12,48.776630,9.176330,0,2016-05-05,2016-05-05 02:00:00,7.2,0.0,NaN,104,699,2016-05-05,Ascension Day,Christi Himmelfahrt,L'Ascension,Ascension Day
27,158,12,48.776630,9.176330,0,2016-05-05,2016-05-05 03:00:00,7.2,0.0,NaN,104,699,2016-05-05,Ascension Day,Christi Himmelfahrt,L'Ascension,Ascension Day
28,159,12,48.776630,9.176330,0,2016-05-05,2016-05-05 04:00:00,6.3,0.0,NaN,104,699,2016-05-05,Ascension Day,Christi Himmelfahrt,L'Ascension,Ascension Day
29,160,12,48.776630,9.176330,0,2016-05-05,2016-05-05 05:00:00,6.3,0.0,NaN,104,699,2016-05-05,Ascension Day,Christi Himmelfahrt,L'Ascension,Ascension Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3186,206188,11,50.110922,8.682127,0,2016-05-16,2016-05-16 18:00:00,13.7,8.0,21.0,403,575,2016-05-16,Whit Monday,Pfingstmontag,Le lundi de Pentecôte,Whit Monday
3187,206189,11,50.110922,8.682127,0,2016-05-16,2016-05-16 19:00:00,13.7,8.0,21.0,403,575,2016-05-16,Whit Monday,Pfingstmontag,Le lundi de Pentecôte,Whit Monday
3188,206190,11,50.110922,8.682127,0,2016-05-16,2016-05-16 20:00:00,12.2,8.0,NaN,403,575,2016-05-16,Whit Monday,Pfingstmontag,Le lundi de Pentecôte,Whit Monday
3189,206191,11,50.110922,8.682127,0,2016-05-16,2016-05-16 21:00:00,12.2,8.0,NaN,403,575,2016-05-16,Whit Monday,Pfingstmontag,Le lundi de Pentecôte,Whit Monday
3190,206192,11,50.110922,8.682127,0,2016-05-16,2016-05-16 22:00:00,10.4,7.0,NaN,403,575,2016-05-16,Whit Monday,Pfingstmontag,Le lundi de Pentecôte,Whit Monday
3191,206193,11,50.110922,8.682127,0,2016-05-16,2016-05-16 23:00:00,10.4,7.0,NaN,403,575,2016-05-16,Whit Monday,Pfingstmontag,Le lundi de Pentecôte,Whit Monday
3192,209530,11,50.110922,8.682127,0,2016-10-03,2016-10-03 00:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3193,209531,11,50.110922,8.682127,0,2016-10-03,2016-10-03 01:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3194,209532,11,50.110922,8.682127,0,2016-10-03,2016-10-03 02:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3195,209533,11,50.110922,8.682127,0,2016-10-03,2016-10-03 03:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3196,209534,11,50.110922,8.682127,0,2016-10-03,2016-10-03 04:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3197,209535,11,50.110922,8.682127,0,2016-10-03,2016-10-03 05:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3198,209536,11,50.110922,8.682127,0,2016-10-03,2016-10-03 06:00:00,12.7,7.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3199,209537,11,50.110922,8.682127,0,2016-10-03,2016-10-03 07:00:00,11.4,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3200,209538,11,50.110922,8.682127,0,2016-10-03,2016-10-03 08:00:00,11.4,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3201,209539,11,50.110922,8.682127,0,2016-10-03,2016-10-03 09:00:00,11.4,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3202,209540,11,50.110922,8.682127,0,2016-10-03,2016-10-03 10:00:00,11.4,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3203,209541,11,50.110922,8.682127,0,2016-10-03,2016-10-03 11:00:00,11.6,8.0,61.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3204,209542,11,50.110922,8.682127,0,2016-10-03,2016-10-03 12:00:00,11.6,8.0,61.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3205,209543,11,50.110922,8.682127,0,2016-10-03,2016-10-03 13:00:00,11.6,8.0,61.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3206,209544,11,50.110922,8.682127,0,2016-10-03,2016-10-03 14:00:00,14.0,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3207,209545,11,50.110922,8.682127,0,2016-10-03,2016-10-03 15:00:00,14.0,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3208,209546,11,50.110922,8.682127,0,2016-10-03,2016-10-03 16:00:00,14.0,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3209,209547,11,50.110922,8.682127,0,2016-10-03,2016-10-03 17:00:00,14.0,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3210,209548,11,50.110922,8.682127,0,2016-10-03,2016-10-03 18:00:00,14.0,8.0,21.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3211,209549,11,50.110922,8.682127,0,2016-10-03,2016-10-03 19:00:00,10.8,8.0,95.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3212,209550,11,50.110922,8.682127,0,2016-10-03,2016-10-03 20:00:00,10.8,8.0,95.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3213,209551,11,50.110922,8.682127,0,2016-10-03,2016-10-03 21:00:00,10.8,8.0,95.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3214,209552,11,50.110922,8.682127,0,2016-10-03,2016-10-03 22:00:00,10.8,8.0,95.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity
3215,209553,11,50.110922,8.682127,0,2016-10-03,2016-10-03 23:00:00,10.8,8.0,95.0,281,453,2016-10-03,Day of German Unity,Tag der Deutschen Einheit,Day of German Unity,Day of German Unity

In [62]:
df = pd.read_csv('data/test_merge_public_holidays_hour.csv')
df[df.date=='2016-05-01']

,Unnamed: 0,idbldsite_counts,latitude,longitude,compensatedin,date,date_time,temperature,cloudamount,weathersituation,Unnamed: 0.1,id,idbldsite_holidays,day,name_en,name_de,name_fr,name_ru
36,36,12,48.776630,9.176330,0,2016-05-01,2016-05-01 00:00:00,8.9,8.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,12,48.776630,9.176330,0,2016-05-01,2016-05-01 01:00:00,8.9,8.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,12,48.776630,9.176330,0,2016-05-01,2016-05-01 02:00:00,7.8,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,12,48.776630,9.176330,0,2016-05-01,2016-05-01 03:00:00,7.8,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,12,48.776630,9.176330,0,2016-05-01,2016-05-01 04:00:00,7.0,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,12,48.776630,9.176330,0,2016-05-01,2016-05-01 05:00:00,7.0,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,12,48.776630,9.176330,0,2016-05-01,2016-05-01 06:00:00,6.3,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,12,48.776630,9.176330,0,2016-05-01,2016-05-01 07:00:00,6.3,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,12,48.776630,9.176330,0,2016-05-01,2016-05-01 08:00:00,6.5,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,12,48.776630,9.176330,0,2016-05-01,2016-05-01 09:00:00,6.5,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,12,48.776630,9.176330,0,2016-05-01,2016-05-01 10:00:00,9.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,12,48.776630,9.176330,0,2016-05-01,2016-05-01 11:00:00,9.0,7.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,12,48.776630,9.176330,0,2016-05-01,2016-05-01 12:00:00,12.2,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,12,48.776630,9.176330,0,2016-05-01,2016-05-01 13:00:00,12.2,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,50,12,48.776630,9.176330,0,2016-05-01,2016-05-01 14:00:00,14.5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,51,12,48.776630,9.176330,0,2016-05-01,2016-05-01 15:00:00,14.5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,12,48.776630,9.176330,0,2016-05-01,2016-05-01 16:00:00,15.6,8.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,53,12,48.776630,9.176330,0,2016-05-01,2016-05-01 17:00:00,15.6,8.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,54,12,48.776630,9.176330,0,2016-05-01,2016-05-01 18:00:00,15.1,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,55,12,48.776630,9.176330,0,2016-05-01,2016-05-01 19:00:00,15.1,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,56,12,48.776630,9.176330,0,2016-05-01,2016-05-01 20:00:00,14.3,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,57,12,48.776630,9.176330,0,2016-05-01,2016-05-01 21:00:00,14.3,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,58,12,48.776630,9.176330,0,2016-05-01,2016-05-01 22:00:00,13.7,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,59,12,48.776630,9.176330,0,2016-05-01,2016-05-01 23:00:00,13.7,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12747,12747,1,53.550842,9.995385,0,2016-05-01,2016-05-01 00:00:00,8.2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12748,12748,1,53.550842,9.995385,0,2016-05-01,2016-05-01 01:00:00,8.2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12749,12749,1,53.550842,9.995385,0,2016-05-01,2016-05-01 02:00:00,8.2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12750,12750,1,53.550842,9.995385,0,2016-05-01,2016-05-01 03:00:00,8.2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12751,12751,1,53.550842,9.995385,0,2016-05-01,2016-05-01 04:00:00,6.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12752,12752,1,53.550842,9.995385,0,2016-05-01,2016-05-01 05:00:00,6.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124308,124308,10,49.452291,11.074521,0,2016-05-01,2016-05-01 18:00:00,16.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124309,124309,10,49.452291,11.074521,0,2016-05-01,2016-05-01 19:00:00,16.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124310,124310,10,49.452291,11.074521,0,2016-05-01,2016-05-01 20:00:00,14.9,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124311,124311,10,49.452291,11.074521,0,2016-05-01,2016-05-01 21:00:00,14.9,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124312,124312,10,49.452291,11.074521,0,2016-05-01,2016-05-01 22:00:00,13.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124313,124313,10,49.452291,11.074521,0,2016-05-01,2016-05-01 23:00:00,13.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137000,137000,11,50.110922,8.682127,0,2016-05-01,2016-05-01 00:00:00,8.1,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137001,137001,11,50.110922,8.682127,0,2016-05-01,2016-05-01 01:00:00,8.1,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137002,137002,11,50.110922,8.682127,0,2016-05-01,2016-05-01 02:00:00,7.6,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137003,137003,11,50.110922,8.682127,0,2016-05-01,2016-05-01 03:00:00,7.6,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137004,137004,11,50.110922,8.682127,0,2016-05-01,2016-05-01 04:00:00,7.2,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137005,137005,11,50.110922,8.682127,0,2016-05-01,2016-05-01 05:00:00,7.2,8.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137006,137006,11,50.110922,8.682127,0,2016-05-01,2016-05-01 06:00:00,7.1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137007,137007,11,50.110922,8.682127,0,2016-05-01,2016-05-01 07:00:00,7.1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137008,137008,11,50.110922,8.682127,0,2016-05-01,2016-05-01 08:00:00,7.8,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137009,137009,11,50.110922,8.682127,0,2016-05-01,2016-05-01 09:00:00,7.8,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137010,137010,11,50.110922,8.682127,0,2016-05-01,2016-05-01 10:00:00,10.3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137011,137011,11,50.110922,8.682127,0,2016-05-01,2016-05-01 11:00:00,10.3,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137012,137012,11,50.110922,8.682127,0,2016-05-01,2016-05-01 12:00:00,13.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137013,137013,11,50.110922,8.682127,0,2016-05-01,2016-05-01 13:00:00,13.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137014,137014,11,50.110922,8.682127,0,2016-05-01,2016-05-01 14:00:00,16.1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137015,137015,11,50.110922,8.682127,0,2016-05-01,2016-05-01 15:00:00,16.1,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137016,137016,11,50.110922,8.682127,0,2016-05-01,2016-05-01 16:00:00,18.6,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137017,137017,11,50.110922,8.682127,0,2016-05-01,2016-05-01 17:00:00,18.6,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137018,137018,11,50.110922,8.682127,0,2016-05-01,2016-05-01 18:00:00,18.3,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137019,137019,11,50.110922,8.682127,0,2016-05-01,2016-05-01 19:00:00,18.3,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137020,137020,11,50.110922,8.682127,0,2016-05-01,2016-05-01 20:00:00,16.7,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137021,137021,11,50.110922,8.682127,0,2016-05-01,2016-05-01 21:00:00,16.7,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137022,137022,11,50.110922,8.682127,0,2016-05-01,2016-05-01 22:00:00,12.7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137023,137023,11,50.110922,8.682127,0,2016-05-01,2016-05-01 23:00:00,12.7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df

,Unnamed: 0,idbldsite,latitude,longitude,compensatedin,date,date_time,temperature,cloudamount,weathersituation
0,0,12,48.776630,9.176330,22,2016-04-29 00:00:00,2016-04-29 12:00:00,11.2,7.0,NaN
1,1,12,48.776630,9.176330,7,2016-04-29 00:00:00,2016-04-29 13:00:00,11.2,7.0,NaN
2,2,12,48.776630,9.176330,21,2016-04-29 00:00:00,2016-04-29 14:00:00,12.7,6.0,NaN
3,3,12,48.776630,9.176330,11,2016-04-29 00:00:00,2016-04-29 15:00:00,12.7,6.0,NaN
4,4,12,48.776630,9.176330,20,2016-04-29 00:00:00,2016-04-29 16:00:00,13.7,3.0,NaN
5,5,12,48.776630,9.176330,15,2016-04-29 00:00:00,2016-04-29 17:00:00,13.7,3.0,NaN
6,6,12,48.776630,9.176330,14,2016-04-29 00:00:00,2016-04-29 18:00:00,13.5,2.0,NaN
7,7,12,48.776630,9.176330,11,2016-04-29 00:00:00,2016-04-29 19:00:00,13.5,2.0,NaN
8,8,12,48.776630,9.176330,0,2016-04-29 00:00:00,2016-04-29 20:00:00,12.8,5.0,NaN
9,9,12,48.776630,9.176330,0,2016-04-29 00:00:00,2016-04-29 21:00:00,12.8,5.0,NaN
10,10,12,48.776630,9.176330,0,2016-04-29 00:00:00,2016-04-29 22:00:00,10.3,8.0,NaN
11,11,12,48.776630,9.176330,0,2016-04-29 00:00:00,2016-04-29 23:00:00,10.3,8.0,NaN
12,12,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 00:00:00,9.0,3.0,NaN
13,13,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 01:00:00,9.0,3.0,NaN
14,14,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 02:00:00,5.9,0.0,NaN
15,15,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 03:00:00,5.9,0.0,NaN
16,16,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 04:00:00,4.5,3.0,NaN
17,17,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 05:00:00,4.5,3.0,NaN
18,18,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 06:00:00,3.8,4.0,NaN
19,19,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 07:00:00,3.8,4.0,NaN
20,20,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 08:00:00,5.0,7.0,NaN
21,21,12,48.776630,9.176330,0,2016-04-30 00:00:00,2016-04-30 09:00:00,5.0,7.0,NaN
22,22,12,48.776630,9.176330,14,2016-04-30 00:00:00,2016-04-30 10:00:00,7.9,6.0,NaN
23,23,12,48.776630,9.176330,24,2016-04-30 00:00:00,2016-04-30 11:00:00,7.9,6.0,NaN
24,24,12,48.776630,9.176330,30,2016-04-30 00:00:00,2016-04-30 12:00:00,12.1,6.0,NaN
25,25,12,48.776630,9.176330,37,2016-04-30 00:00:00,2016-04-30 13:00:00,12.1,6.0,NaN
26,26,12,48.776630,9.176330,69,2016-04-30 00:00:00,2016-04-30 14:00:00,14.5,6.0,NaN
27,27,12,48.776630,9.176330,37,2016-04-30 00:00:00,2016-04-30 15:00:00,14.5,6.0,NaN
28,28,12,48.776630,9.176330,26,2016-04-30 00:00:00,2016-04-30 16:00:00,16.1,6.0,NaN
29,29,12,48.776630,9.176330,25,2016-04-30 00:00:00,2016-04-30 17:00:00,16.1,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...
141083,141083,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 03:00:00,12.6,8.0,10.0
141084,141084,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 04:00:00,12.6,8.0,10.0
141085,141085,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 05:00:00,12.6,8.0,10.0
141086,141086,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 06:00:00,12.6,8.0,10.0
141087,141087,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 07:00:00,10.1,8.0,45.0
141088,141088,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 08:00:00,10.1,8.0,45.0
141089,141089,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 09:00:00,10.1,8.0,45.0
141090,141090,11,50.110922,8.682127,3,2016-10-18 00:00:00,2016-10-18 10:00:00,10.1,8.0,45.0
141091,141091,11,50.110922,8.682127,11,2016-10-18 00:00:00,2016-10-18 11:00:00,10.8,7.0,10.0
141092,141092,11,50.110922,8.682127,17,2016-10-18 00:00:00,2016-10-18 12:00:00,10.8,7.0,10.0
141093,141093,11,50.110922,8.682127,19,2016-10-18 00:00:00,2016-10-18 13:00:00,10.8,7.0,10.0
141094,141094,11,50.110922,8.682127,14,2016-10-18 00:00:00,2016-10-18 14:00:00,13.1,8.0,10.0
141095,141095,11,50.110922,8.682127,15,2016-10-18 00:00:00,2016-10-18 15:00:00,13.1,8.0,10.0
141096,141096,11,50.110922,8.682127,14,2016-10-18 00:00:00,2016-10-18 16:00:00,13.1,8.0,10.0
141097,141097,11,50.110922,8.682127,13,2016-10-18 00:00:00,2016-10-18 17:00:00,13.1,8.0,10.0
141098,141098,11,50.110922,8.682127,12,2016-10-18 00:00:00,2016-10-18 18:00:00,13.1,8.0,10.0
141099,141099,11,50.110922,8.682127,13,2016-10-18 00:00:00,2016-10-18 19:00:00,10.9,8.0,21.0
141100,141100,11,50.110922,8.682127,9,2016-10-18 00:00:00,2016-10-18 20:00:00,10.9,8.0,21.0
141101,141101,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 21:00:00,10.9,8.0,21.0
141102,141102,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 22:00:00,10.9,8.0,21.0
141103,141103,11,50.110922,8.682127,0,2016-10-18 00:00:00,2016-10-18 23:00:00,10.9,8.0,21.0
141104,141104,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 00:00:00,10.9,8.0,21.0
141105,141105,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 01:00:00,10.9,8.0,21.0
141106,141106,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 02:00:00,10.9,8.0,21.0
141107,141107,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 03:00:00,10.9,8.0,21.0
141108,141108,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 04:00:00,10.9,8.0,21.0
141109,141109,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 05:00:00,10.9,8.0,21.0
141110,141110,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 06:00:00,10.9,8.0,21.0
141111,141111,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 07:00:00,8.3,8.0,21.0
141112,141112,11,50.110922,8.682127,0,2016-10-19 00:00:00,2016-10-19 08:00:00,8.3,8.0,21.0