In [2]:
from model import data_store,db_manager
import pandas as pd
import urllib2
from requests.utils import quote
import json
from collections import namedtuple
import pprint
import difflib
import numpy as np
import datetime

In [3]:
db_params = {'db_user': 'dwe-closed', 'db_name': 'DWE_CLOSED_2013',
                 'db_port': '5432', 'db_pwd': '6EVAqWxOsX2Ao', 'db_url': 'localhost'}

db_params = {'db_user': 'dwe-arcadia', 'db_name': 'DWE_ARCADIA_2015',
                 'db_port': '5432', 'db_pwd': 'VtJ5Cw3PKuOi4i3b',
                 'db_url': 'localhost'}


db =  db_manager.DB_manager(db_params=db_params)

2016-11-08 09:29:52,559 [INFO ]  engine createdEngine(postgresql://dwe-arcadia:***@localhost:5432/DWE_ARCADIA_2015)

In [25]:
df_training = pd.read_csv('data/store/DWE_CLOSED_2013_training_set_H.csv')

In [31]:
db.weather_intraday[db.weather_intraday.idparent==4]

,id,idparent,timestamp,utctimestamp,temperature,cloudamount,weathersituation
0,280,4,2015-12-13 01:00:00,1449964800000,13.0,6,21.0
1,281,4,2015-12-13 03:00:00,1449972000000,8.0,8,61.0
2,282,4,2015-12-13 05:00:00,1449979200000,7.0,8,60.0
3,283,4,2015-12-13 07:00:00,1449986400000,6.0,8,58.0
4,284,4,2015-12-13 09:00:00,1449993600000,6.0,8,61.0
5,285,4,2015-12-13 11:00:00,1450000800000,7.0,8,10.0
6,286,4,2015-12-13 13:00:00,1450008000000,7.6,8,10.0
7,287,4,2015-12-13 15:00:00,1450015200000,8.8,7,10.0
8,288,4,2015-12-13 17:00:00,1450022400000,8.9,5,10.0
9,289,4,2015-12-13 19:00:00,1450029600000,9.0,8,10.0
10,290,4,2015-12-13 21:00:00,1450036800000,10.0,6,10.0
11,291,4,2015-12-13 23:00:00,1450044000000,8.0,1,5.0
12,292,4,2015-12-14 00:00:00,1450047600000,7.0,4,10.0

In [148]:
df_weather_hour = pd.merge(db.weather_intraday, db.weather_day[['id','latitude','longitude']], left_on='idparent',
                               right_on='id')

df_weather_hour = df_weather_hour[['timestamp','temperature','cloudamount','weathersituation','latitude','longitude']]

df_weather_hour['coord']= df_weather_hour.latitude.map(str) +";"+df_weather_hour.longitude.map(str)


date_range = pd.date_range(df_weather_hour.timestamp.min(), df_weather_hour.timestamp.max(), freq='H')
print date_range
print df_weather_hour.shape
df_weather_hour_clean = df_weather_hour.drop_duplicates()
df_weather_hour_clean.shape

groupy = df_weather_hour_clean.groupby(['coord'])
df = pd.DataFrame()
for name, group in groupy:
    group = group.set_index('timestamp').sort_index()
    group = group[~group.index.duplicated()]
    group = group.reindex(date_range,method='ffill')
    df = pd.concat([df,group],axis=0)    
    
df= df.sort_index()
df.tail()

,temperature,cloudamount,weathersituation,latitude,longitude,coord
2016-11-01 12:00:00,4.4,0.0,NaN,40.757,-73.980,40.757;-73.98
2016-11-01 12:00:00,8.2,7.0,NaN,53.796,-1.542,53.796;-1.542
2016-11-01 12:00:00,4.4,0.0,NaN,40.721,-74.002,40.721;-74.002
2016-11-01 12:00:00,10.0,6.0,10.0,53.415,-1.410,53.415;-1.41
2016-11-01 12:00:00,6.9,4.0,NaN,55.953,-3.194,55.953;-3.194

,temperature,cloudamount,weathersituation,latitude,longitude,coord,timestamp2
2016-11-01 08:00:00,3.6,7.0,20.0,55.953,-3.194,55.953;-3.194,2016-11-01 05:00:00
2016-11-01 09:00:00,3.6,7.0,20.0,55.953,-3.194,55.953;-3.194,2016-11-01 05:00:00
2016-11-01 10:00:00,3.6,7.0,20.0,55.953,-3.194,55.953;-3.194,2016-11-01 05:00:00
2016-11-01 11:00:00,6.9,4.0,NaN,55.953,-3.194,55.953;-3.194,2016-11-01 11:00:00
2016-11-01 12:00:00,6.9,4.0,NaN,55.953,-3.194,55.953;-3.194,2016-11-01 11:00:00

In [68]:

df_weather_hour = df_weather_hour.groupby(['coord']).apply(lambda x: x.set_index(
        'timestamp').sort_index().reindex(date_range, method='ffill'))

ValueError: cannot reindex a non-unique index with a method or limit