In [1]:
from model import data_store,db_manager
import pandas as pd
import urllib2
from requests.utils import quote
import json
from collections import namedtuple
import pprint
import difflib
import numpy as np
import datetime
from helper.data_helper import reindex_weather_intraday, match_coordinates

In [2]:
db_params = {'db_user': 'dwe-closed', 'db_name': 'DWE_CLOSED_2013',
                 'db_port': '5432', 'db_pwd': '6EVAqWxOsX2Ao', 'db_url': 'localhost'}

# db_params = {'db_user': 'dwe-arcadia', 'db_name': 'DWE_ARCADIA_2015',
#                  'db_port': '5432', 'db_pwd': 'VtJ5Cw3PKuOi4i3b',
#                  'db_url': 'localhost'}


db =  db_manager.DB_manager(db_params=db_params)

2016-11-10 10:07:27,344 [INFO ]  engine createdEngine(postgresql://dwe-closed:***@localhost:5432/DWE_CLOSED_2013)

In [32]:
training_data = pd.read_csv(
        "data/test/training_before_public_holidays.csv", sep=";",parse_dates =[ 'date'],index_col=0)
df_holidays = pd.read_csv(
        "data/test/arcadia_holidays.csv", sep=";", parse_dates=['day'])
training_data.info()
df_holidays.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4300 entries, 3 to 4389
Data columns (total 10 columns):
idbldsite           4300 non-null int64
latitude            4300 non-null float64
longitude           4300 non-null float64
compensatedin       4300 non-null int64
date                4300 non-null datetime64[ns]
date_time           4300 non-null object
maxtemperature      4300 non-null float64
mintemperature      4300 non-null float64
weathersituation    4294 non-null float64
cloudamount         4300 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 369.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 3 columns):
Unnamed: 0    351 non-null int64
idbldsite     351 non-null int64
day           351 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 8.3 KB

In [33]:
training_data.idbldsite.unique()

array([13,  3,  4, 16,  1,  2,  5,  6,  7,  8, 11, 10,  9, 12, 14, 15])

In [59]:
merged = pd.merge(training_data, df_holidays,
                                       left_on=['idbldsite',
                                                'date'],
                                       right_on=['idbldsite', 'day'],how='left',suffixes=['_counts', '_holidays'] )

merged[
        'is_public_holiday'] = ~merged.day.isnull() * 1
merged[merged.date=='2016-05-02']

,idbldsite,latitude,longitude,compensatedin,date,date_time,maxtemperature,mintemperature,weathersituation,cloudamount,Unnamed: 0,day,is_public_holiday
63,13,40.757882,-73.980204,2766,2016-05-02,2016-05-02,15.0,7.2,63.0,8.0,NaN,NaT,0
337,3,53.404815,-2.986433,6130,2016-05-02,2016-05-02,13.4,8.5,80.0,5.0,206.0,2016-05-02,1
611,4,53.484423,-2.242341,11432,2016-05-02,2016-05-02,13.0,4.0,61.0,4.0,294.0,2016-05-02,1
857,16,52.477307,-1.896208,8151,2016-05-02,2016-05-02,14.2,6.3,60.0,3.0,301.0,2016-05-02,1
1185,1,51.500125,-0.163171,2021,2016-05-02,2016-05-02,17.0,5.0,7.0,6.0,204.0,2016-05-02,1
1512,2,53.466821,-2.349502,13259,2016-05-02,2016-05-02,14.0,6.1,80.0,6.0,132.0,2016-05-02,1
1779,5,53.796652,-1.542733,7315,2016-05-02,2016-05-02,14.1,6.7,60.0,3.0,261.0,2016-05-02,1
2046,6,51.506856,-0.223425,8877,2016-05-02,2016-05-02,17.0,5.0,7.0,6.0,276.0,2016-05-02,1
2313,7,51.438222,0.269816,8158,2016-05-02,2016-05-02,17.1,9.8,5.0,0.0,190.0,2016-05-02,1
2580,8,53.415088,-1.410727,11334,2016-05-02,2016-05-02,16.0,6.0,5.0,4.0,212.0,2016-05-02,1
2838,11,52.371410,4.889670,6126,2016-05-02,2016-05-02,17.0,3.0,5.0,3.0,NaN,NaT,0
3096,10,50.822183,-0.146594,8269,2016-05-02,2016-05-02,12.0,7.3,6.0,4.0,240.0,2016-05-02,1
3354,9,51.543261,-0.008321,12020,2016-05-02,2016-05-02,17.0,9.0,6.0,5.0,120.0,2016-05-02,1
3608,12,40.721395,-74.002076,3378,2016-05-02,2016-05-02,15.0,7.2,63.0,8.0,NaN,NaT,0
3862,14,54.597843,-5.928430,4219,2016-05-02,2016-05-02,12.0,7.0,63.0,4.0,322.0,2016-05-02,1
4116,15,55.953028,-3.194355,3317,2016-05-02,2016-05-02,12.1,5.6,81.0,4.0,328.0,2016-05-02,1