In [1]:
from model.predictor import Predictor
import pandas as pd

In [2]:
prediction = Predictor("DWE_CLOSED_2013")

self DWE_CLOSED_2013
create
DWE_CLOSED_2013
engine createdEngine(postgresql://dwe-closed:***@localhost:5432/DWE_CLOSED_2013)
data/store/training_set_D_DWE_CLOSED_2013.csv

In [3]:
prediction.datastore.data.idbldsite.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [6]:
df_sites_id = pd.DataFrame(
        prediction.datastore.data.idbldsite.unique(), columns=['idbldsite'])

In [9]:
sites_regions = pd.merge(
        df_sites_id, prediction.datastore.data[['idbldsite','region_id']], on='idbldsite')
sites_regions.drop_duplicates()

      idbldsite  region_id
0             1        0.0
1184          2        0.0
1991          3        0.0
2791          4        0.0
3591          5        0.0
4304          6        0.0
5017          7        0.0
5810          8        0.0
6518          9        0.0
7278         10        0.0
7972         11        0.0
8594         12        0.0