In [41]:
from model import db_manager
import pandas as pd
import datetime

In [42]:
df = pd.read_csv('data/test_data_store.csv',index_col=0)

In [44]:
df.tail()

,idbldsite,compensatedin,date,maxtemperature,mintemperature,weathersituation,cloudamount,coord,sname,is_public_holiday,...,month_7,month_8,month_9,month_10,month_11,month_12,public_holiday,not_public_holiday,school_holiday,not_school_holiday
4247,9,105,2016-10-15,12.2,7.6,60.0,6.0,52.28;8.04,Osnabrueck,0,...,0,0,0,1,0,0,0,1,1,0
4248,9,0,2016-10-16,15.0,2.8,7.0,0.0,52.28;8.04,Osnabrueck,0,...,0,0,0,1,0,0,0,1,0,1
4249,9,48,2016-10-17,15.3,9.9,4.0,5.0,52.28;8.04,Osnabrueck,0,...,0,0,0,1,0,0,0,1,0,1
4250,9,60,2016-10-18,14.1,8.0,6.0,5.0,52.28;8.04,Osnabrueck,0,...,0,0,0,1,0,0,0,1,0,1
4251,9,0,2016-10-19,6.8,6.8,80.0,0.0,52.28;8.04,Osnabrueck,0,...,0,0,0,1,0,0,0,1,0,1