In [14]:
from model.predictor import Predictor
import pandas as pd
import urllib2
from requests.utils import quote
import json
from collections import namedtuple
import pprint

In [15]:
df = pd.read_csv('data/store/DWE_CLOSED_2013_sites_infos.csv', index_col=0)

In [16]:

Site = namedtuple('Site', ['idbldsite', 'site_name','latitude','longitude','region'])

In [17]:
df

,idbldsite,sname,latitude,longitude,coord,region,region_id
0,12,Stuttgart,48.776630,9.176330,48.78;9.18,Baden-Württemberg,0
1,1,Hamburg City,53.550842,9.995385,53.55;10.0,Hamburg,5
2,2,Hamburg AEZ,53.654227,10.091736,53.65;10.09,Hamburg,5
3,3,Muenchen Damen,48.142641,11.576903,48.14;11.58,Bayern,1
4,4,Muenchen Herren,48.142641,11.576903,48.14;11.58,Bayern,1
5,5,Duesseldorf Herren,51.224403,6.774598,51.22;6.77,Nordrhein-Westfalen,9
6,6,Duesseldorf Damen,51.224403,6.774598,51.22;6.77,Nordrhein-Westfalen,9
7,7,Wiesbaden,50.081434,8.244644,50.08;8.24,Hessen,6
8,8,Bikini Berlin,52.505482,13.335294,52.51;13.34,Berlin,2
9,9,Osnabrueck,52.276045,8.043023,52.28;8.04,Niedersachsen,8
10,10,Nuernberg,49.452291,11.074521,49.45;11.07,Bayern,1
11,11,Frankfurt MTZ,50.110922,8.682127,50.11;8.68,Hessen,6

In [18]:
df = df.set_index('idbldsite')
sites_dict = df.T.to_dict()

In [20]:
sites_dict

{1: {'coord': '53.55;10.0',
  'latitude': 53.550842,
  'longitude': 9.995385,
  'region': 'Hamburg',
  'region_id': 5,
  'sname': 'Hamburg City'},
 2: {'coord': '53.65;10.09',
  'latitude': 53.654227,
  'longitude': 10.091736000000001,
  'region': 'Hamburg',
  'region_id': 5,
  'sname': 'Hamburg AEZ'},
 3: {'coord': '48.14;11.58',
  'latitude': 48.142641,
  'longitude': 11.576903,
  'region': 'Bayern',
  'region_id': 1,
  'sname': 'Muenchen Damen'},
 4: {'coord': '48.14;11.58',
  'latitude': 48.142641,
  'longitude': 11.576903,
  'region': 'Bayern',
  'region_id': 1,
  'sname': 'Muenchen Herren'},
 5: {'coord': '51.22;6.77',
  'latitude': 51.224403,
  'longitude': 6.774597999999999,
  'region': 'Nordrhein-Westfalen',
  'region_id': 9,
  'sname': 'Duesseldorf Herren'},
 6: {'coord': '51.22;6.77',
  'latitude': 51.224403,
  'longitude': 6.774597999999999,
  'region': 'Nordrhein-Westfalen',
  'region_id': 9,
  'sname': 'Duesseldorf Damen'},
 7: {'coord': '50.08;8.24',
  'latitude': 50.081434,
  'longitude': 8.244644000000001,
  'region': 'Hessen',
  'region_id': 6,
  'sname': 'Wiesbaden'},
 8: {'coord': '52.51;13.34',
  'latitude': 52.50548199999999,
  'longitude': 13.335294000000001,
  'region': 'Berlin',
  'region_id': 2,
  'sname': 'Bikini Berlin'},
 9: {'coord': '52.28;8.04',
  'latitude': 52.276045,
  'longitude': 8.043023,
  'region': 'Niedersachsen',
  'region_id': 8,
  'sname': 'Osnabrueck'},
 10: {'coord': '49.45;11.07',
  'latitude': 49.452290999999995,
  'longitude': 11.074521,
  'region': 'Bayern',
  'region_id': 1,
  'sname': 'Nuernberg'},
 11: {'coord': '50.11;8.68',
  'latitude': 50.1109221,
  'longitude': 8.6821267,
  'region': 'Hessen',
  'region_id': 6,
  'sname': 'Frankfurt MTZ'},
 12: {'coord': '48.78;9.18',
  'latitude': 48.776630499999996,
  'longitude': 9.176330499999999,
  'region': 'Baden-W\xc3\xbcrttemberg',
  'region_id': 0,
  'sname': 'Stuttgart'}}

In [ ]:
MAPS_URL = "http://maps.googleapis.com/maps/api/geocode/json?latlng="


def get_region(latitude, longitude):
    """retrieve the local name of the region for a given coordinate.

    Args:
        latitude (int):
        longitude (int):

    Returns:
        str: local name of the region
    """
    coord_str = str(latitude) + "," + str(longitude)
    try:
        response = urllib2.urlopen(
            MAPS_URL + coord_str)
        data = json.loads(response.read())
        region = data['results'][0]['address_components']
        return region
    except Exception as e:
        print e.message
        print "Could not retrieve the region name for :" + coord_str
        return "Not found"

In [ ]:
result =get_region(48.77663049,9.1763304)
pprint.pprint (result)

In [ ]:
region = [x for x in result if 'administrative_area_level_1' in x['types']]

In [ ]:
as_str =(region[0]['long_name']).encode('utf-8)')

In [ ]:
type(as_str)

In [ ]:
as_str