In [1]:
%matplotlib inline

from sqlalchemy import create_engine
import datetime
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as col
from matplotlib.dates import  DateFormatter
import seaborn as sns

import config
import  db_service
import data_preparation
import weather_service

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

sns.set_style("whitegrid")
sns.set_context("poster")



np.set_printoptions(precision=3,suppress=True)

In [3]:
### Call this method to retrieve the data directly from DB :

# db_service.create_counts_sites_weather_holidays_day()

### Otherwise load the file :
df = pd.read_csv('data/counts_sites_weather_holidays_day.csv',parse_dates=['date'],index_col=0)

dataset_past_dict = {}
dataset_forecasts_dict ={}

In [5]:
df = df[df.date<]

     idbldsite  compensatedin       date  maxtemperature  mintemperature  weathersituation  cloudamount       coord   sname  day  name_en  is_holiday  day_of_week  day_of_month  month  year  day_0  day_1  day_2  day_3  day_4  day_5  day_6  month_1  month_2  month_3  month_4  month_5  month_6  month_7  month_8  month_9  month_10  month_11  month_12  holiday  not_holiday
587          1           4968 2014-06-17       23.600000            11.4               NaN          3.0  46.29;7.54  Sierre  NaN      NaN           0            1            17      6  2014      0      1      0      0      0      0      0        0        0        0        0        0        1        0        0        0         0         0         0        0            1
588          1           5620 2014-06-18       23.200001             9.4               7.0          2.0  46.29;7.54  Sierre  NaN      NaN           0            2            18      6  2014      0      0      1      0      0      0      0        0        0        0        0        0        1        0        0        0         0         0         0        0            1
589          1            463 2014-06-19       25.299999            10.6              95.0          1.0  46.29;7.54  Sierre  NaN      NaN           0            3            19      6  2014      0      0      0      1      0      0      0        0        0        0        0        0        1        0        0        0         0         0         0        0            1
590          1           7997 2014-06-20       25.400000            10.2               5.0          1.0  46.29;7.54  Sierre  NaN      NaN           0            4            20      6  2014      0      0      0      0      1      0      0        0        0        0        0        0        1        0        0        0         0         0         0        0            1
591          1           6092 2014-06-21       29.500000             8.0               2.0          0.0  46.29;7.54  Sierre  NaN      NaN           0            5            21      6  2014      0      0      0      0      0      1      0        0        0        0        0        0        1        0        0        0         0         0         0        0            1

In [22]:
def create_baseline(end_date):
    df = pd.read_csv('data/counts_sites_weather_holidays_day.csv',parse_dates=['date'],index_col=0)
    df = df[df.date<end_date]
    df['day']=df.date.dt.dayofweek
    df['month']=df.date.dt.month
    groupy = df.groupby(['idbldsite','month','day'])[['compensatedin']].mean()
    result = groupy.reset_index()
    result.to_csv('data/baseline.csv',index=0)

In [23]:
create_baseline()

TypeError: create_baseline() takes exactly 1 argument (0 given)