In [45]:
from model import datastore
from helper import data_helper
import urllib2
import json
from pandas.io.json import json_normalize
import pandas as pd

In [2]:
store = datastore.datastore("test")

engine createdEngine(postgresql://dwe-closed:***@localhost:5432/DWE_CLOSED_2013)
creating data...
finished creating data

In [5]:
store.data_day.tail()

,idbldsite,compensatedin,date,maxtemperature,mintemperature,weathersituation,cloudamount,coord,sname,day,name_en,is_holiday
8764,12,200,2016-10-15,16.5,9.1,6.0,5.0,48.78;9.18,Stuttgart,NaT,NaN,0
8765,12,0,2016-10-16,18.4,6.4,6.0,2.0,48.78;9.18,Stuttgart,NaT,NaN,0
8766,12,87,2016-10-17,16.7,9.3,6.0,7.0,48.78;9.18,Stuttgart,NaT,NaN,0
8767,12,88,2016-10-18,13.8,11.5,25.0,8.0,48.78;9.18,Stuttgart,NaT,NaN,0
8768,12,2,2016-10-19,7.9,7.9,80.0,8.0,48.78;9.18,Stuttgart,NaT,NaN,0

In [13]:
coord = data_helper.get_sites_dict(store.db.sites)

In [19]:
coord

{1: (u'Hamburg City', 53.550842, 9.995385),
 2: (u'Hamburg AEZ', 53.654227, 10.091736),
 3: (u'Muenchen Damen', 48.142641, 11.576903),
 4: (u'Muenchen Herren', 48.142641, 11.576903),
 5: (u'Duesseldorf Herren', 51.224403, 6.774598),
 6: (u'Duesseldorf Damen', 51.224403, 6.774598),
 7: (u'Wiesbaden', 50.081434, 8.244644),
 8: (u'Bikini Berlin', 52.505482, 13.335294),
 9: (u'Osnabrueck', 52.276045, 8.043023),
 10: (u'Nuernberg', 49.452291, 11.074521),
 11: (u'Frankfurt MTZ', 50.1109221, 8.6821267),
 12: (u'Stuttgart', 48.7766305, 9.1763305)}

In [33]:
MAPS_URL = "http://maps.googleapis.com/maps/api/geocode/json?latlng=" #11.2742848,75.8013801

In [30]:
def region(coord_dict):
    for item in coord_dict.items():
        print (item)

In [41]:
coord[9]

(u'Osnabrueck', 52.276045, 8.043023)

In [42]:
response = urllib2.urlopen(
    MAPS_URL + str(coord[9][1])+","+str(coord[9][2]))
data = json.loads(response.read())

In [58]:
data['results'][0]['address_components'][4]['long_name']

u'Niedersachsen'

In [47]:
df = json_normalize(data[])
df

                                             results status
0  [{u'geometry': {u'location_type': u'RANGE_INTE...     OK