In [116]:
from model import data_store,db_manager
import pandas as pd
import urllib2
from requests.utils import quote
import json
from collections import namedtuple
import pprint
import difflib
import numpy as np
import datetime

In [117]:
db_params = {'db_user': 'dwe-closed', 'db_name': 'DWE_CLOSED_2013',
                 'db_port': '5432', 'db_pwd': '6EVAqWxOsX2Ao', 'db_url': 'localhost'}
db =  db_manager.DB_manager(db_params=db_params)

2016-11-07 11:44:21,490 [INFO ]  engine createdEngine(postgresql://dwe-closed:***@localhost:5432/DWE_CLOSED_2013)

In [118]:
merges_counts = pd.merge(db.sites,db.counts,on='idbldsite')

In [ ]:
db

In [140]:
db.sites.to_csv('test/data/sites_sample1.csv',sep=';')

In [156]:
db.weather_day.head()

,id,latitude,longitude,day,maxtemperature,mintemperature,weathersituation,cloudamount,lastupdated
0,1,48.142,11.576,2015-05-08,21.000000,13.5,1.0,2,2015-05-09 02:51:51.233
1,2,48.142,11.576,2015-05-09,16.600000,11.6,25.0,6,2015-05-10 02:51:50.487
2,3,48.142,11.576,2015-05-10,17.799999,11.0,80.0,3,2015-05-11 02:51:50.893
3,4,48.142,11.576,2015-05-11,21.400000,9.5,1.0,2,2015-05-11 22:51:53.967
4,5,52.505,13.335,2015-05-08,18.000000,14.0,3.0,6,2015-05-09 00:51:50.443

In [154]:
df_counts_from_csv = pd.read_csv('test/data/counts_sample1.csv',sep=';',parse_dates=['timestamp'])

In [155]:
df_counts_from_csv.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3456 entries, 0 to 3455
Data columns (total 5 columns):
Unnamed: 0       3456 non-null int64
idbldsite        3456 non-null int64
timestamp        3456 non-null datetime64[ns]
compensatedin    3456 non-null int64
utctimestamp     3456 non-null int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 135.1 KB

In [157]:
counts_test =db.counts[(db.counts.idbldsite>8)]
counts_test = counts_test.sort_values(by='timestamp',ascending=True)
# counts_test['date']= counts_test.timestamp.dt.date
counts_test = counts_test[['idbldsite','timestamp','compensatedin','utctimestamp']]

In [162]:
df_counts_test = counts_test[(counts_test.timestamp.dt.date>=datetime.datetime(2016,8,24).date())&\
                       (counts_test.timestamp.dt.date<=datetime.datetime(2016,9,28).date())]

In [163]:
df_counts_test.to_csv('test/data/counts_sample1.csv',sep=';')

In [174]:
sites_test = db.sites

In [ ]:
def test(lat,lon,lat1,lon1):
    print lat,lon

In [175]:
sites_test['distance']= sites_test.apply

,idbldsite,sname,imaxoccupancy,iwarnoccupancy,timezone,latitude,longitude,shopnumber,haswifi,hascapturerate,...,companynumber,hasagegroupsensors,sqm,hasbuyingcouple,resettime,datagapsalarm,zone42r_region,zone42r_store,compensation_at_reset_time,zone42r_region_passersby
0,12,Stuttgart,None,None,Europe/Berlin,48.776631,9.176331,23,False,False,...,,False,None,False,180,False,None,None,False,None
1,1,Hamburg City,None,None,Europe/Berlin,53.550842,9.995385,7,False,False,...,None,False,None,False,180,False,None,None,False,None
2,2,Hamburg AEZ,None,None,Europe/Berlin,53.654227,10.091736,6,False,False,...,,False,None,False,180,False,None,None,False,None
3,3,Muenchen Damen,None,None,Europe/Berlin,48.142641,11.576903,2,False,False,...,,False,None,False,180,False,None,None,False,None
4,4,Muenchen Herren,None,None,Europe/Berlin,48.142641,11.576903,3,False,False,...,,False,None,False,180,False,None,None,False,None

In [165]:
db.weather_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4864 entries, 0 to 4863
Data columns (total 9 columns):
id                  4864 non-null int64
latitude            4864 non-null float64
longitude           4864 non-null float64
day                 4864 non-null datetime64[ns]
maxtemperature      4864 non-null float64
mintemperature      4864 non-null float64
weathersituation    4862 non-null float64
cloudamount         4864 non-null int64
lastupdated         4864 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(2)
memory usage: 342.1 KB

In [167]:
df_weather_day = db.weather_day[(db.weather_day.day>=datetime.datetime(2016,8,24).date())&\
                       (db.weather_day.day<=datetime.datetime(2016,9,20).date())]

In [171]:
df_weather_day.to_csv('test/data/weather_day_sample1.csv',sep=';')

In [121]:
count_sum =counts_test[(counts_test.timestamp.dt.date>=datetime.datetime(2016,1,24).date())&\
                       (counts_test.timestamp.dt.date<=datetime.datetime(2016,1,28).date())].groupby(['idbldsite','date']).sum()

In [122]:
final =count_sum.reset_index()
final.to_dict(orient='list')

{u'compensatedin': [0, 60, 73, 75, 59],
 'date': [datetime.date(2016, 1, 24),
  datetime.date(2016, 1, 25),
  datetime.date(2016, 1, 26),
  datetime.date(2016, 1, 27),
  datetime.date(2016, 1, 28)],
 'idbldsite': [10, 10, 10, 10, 10]}

In [123]:
pd.DataFrame({u'compensatedin': [0, 60, 73, 75, 59],
 'date': [datetime.date(2016, 1, 24),
  datetime.date(2016, 1, 25),
  datetime.date(2016, 1, 26),
  datetime.date(2016, 1, 27),
  datetime.date(2016, 1, 28)],
 'idbldsite': [10, 10, 10, 10, 10]})

   compensatedin        date  idbldsite
0              0  2016-01-24         10
1             60  2016-01-25         10
2             73  2016-01-26         10
3             75  2016-01-27         10
4             59  2016-01-28         10