In [95]:
%matplotlib inline
from config import *
import db_service as db
import pandas as pd
import holidays_service
import datetime

In [77]:

holidays_service.create_holidays_df()

In [78]:
dateparse = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')
df_school = pd.read_csv('data/school_holidays/holidays_germany_df.csv',parse_dates=['from_date','to_date'],date_parser=dateparse)
df_school.head()

   region_id  from_date    to_date
0          0 2013-03-25 2013-04-05
1          0 2013-05-21 2013-06-01
2          0 2013-07-25 2013-09-07
3          0 2013-10-28 2013-10-30
4          0 2013-12-23 2013-01-04

In [107]:
date_range = pd.date_range(datetime.date(2013, 3,23), datetime.date(2017, 1, 10))
df_school['from_date2']=df_school.from_date

df = df_school.groupby(['region_id']).apply(lambda x: x.set_index('from_date').sort_index().reindex(date_range,method='ffill'))
df = df.fillna(0)
df = df.reset_index(level=1)
df = df.rename(columns={'level_1':'date'})
df['is_holiday']=(df.date>=df.from_date2) & (df.date<=df.to_date)
df.head()

                date  region_id    to_date from_date2 is_holiday
region_id
0         2013-03-23        0.0 1970-01-01 1970-01-01      False
0         2013-03-24        0.0 1970-01-01 1970-01-01      False
0         2013-03-25        0.0 2013-04-05 2013-03-25       True
0         2013-03-26        0.0 2013-04-05 2013-03-25       True
0         2013-03-27        0.0 2013-04-05 2013-03-25       True