In [12]:
%matplotlib inline
import pandas as pd

In [21]:
df = pd.read_csv("store/DWE_CLOSED_2013:H:[None to 2016-11-28][2016-11-29 to 2016-12-29]_train.csv",sep=';')

In [22]:
df = df[df.idbldsite==2]

In [23]:
df.head()

,Unnamed: 0,idbldsite,compensatedin,date,date_time,maxtemperature,mintemperature,weathersituation,cloudamount,region_id,...,month_12,public_holiday,not_public_holiday,school_holiday,not_school_holiday,compensatedin_reg,maxtemperature_reg,mintemperature_reg,weathersituation_reg,cloudamount_reg
18562,18562,2,7,2015-05-08 00:00:00,2015-05-08 19:00:00,15.0,15.0,25.0,5.0,5.0,...,0,0,1,0,1,0.491840,0.418073,0.418073,-0.030617,0.055802
18563,18563,2,3,2015-05-08 00:00:00,2015-05-08 20:00:00,15.0,15.0,25.0,5.0,5.0,...,0,0,1,0,1,-0.097148,0.418073,0.418073,-0.030617,0.055802
18564,18564,2,0,2015-05-08 00:00:00,2015-05-08 21:00:00,13.7,13.7,5.0,5.0,5.0,...,0,0,1,0,1,-0.538888,0.236484,0.236484,-0.790490,0.055802
18565,18565,2,0,2015-05-08 00:00:00,2015-05-08 22:00:00,13.7,13.7,5.0,5.0,5.0,...,0,0,1,0,1,-0.538888,0.236484,0.236484,-0.790490,0.055802
18566,18566,2,0,2015-05-08 00:00:00,2015-05-08 23:00:00,11.2,11.2,7.0,7.0,5.0,...,0,0,1,0,1,-0.538888,-0.112726,-0.112726,-0.714503,0.891664

In [24]:
df = df.set_index('date_time')

In [31]:
help(df.corr)

Help on method corr in module pandas.core.frame:

corr(self, method='pearson', min_periods=1) method of pandas.core.frame.DataFrame instance
    Compute pairwise correlation of columns, excluding NA/null values

    Parameters
    ----------
    method : {'pearson', 'kendall', 'spearman'}
        * pearson : standard correlation coefficient
        * kendall : Kendall Tau correlation coefficient
        * spearman : Spearman rank correlation
    min_periods : int, optional
        Minimum number of observations required per pair of columns
        to have a valid result. Currently only available for pearson
        and spearman correlation

    Returns
    -------
    y : DataFrame