In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('store/DWE_CLOSED_2013:D:[None to 2016-11-27][2016-11-28 to 2016-12-28]_train.csv',sep=';')

In [8]:
df.shape

(6328, 9)

In [9]:
df.head()

,Unnamed: 0,idbldsite,compensatedin,date,date_time,maxtemperature,mintemperature,weathersituation,cloudamount
0,1,12,151,2016-04-29,2016-04-29,13.7,9.0,NaN,5.0
1,2,12,292,2016-04-30,2016-04-30,16.5,3.8,3.0,6.0
2,3,12,0,2016-05-01,2016-05-01,15.6,6.3,80.0,8.0
3,4,12,92,2016-05-02,2016-05-02,18.0,7.2,4.0,1.0
4,5,12,92,2016-05-03,2016-05-03,14.7,7.7,3.0,6.0